[Unit]
Description=Run Lytux Installer After Network Connectivity
After=network-online.target

[Service]
Type=oneshot
User=root
ExecStart=/usr/local/bin/lytux-install

[Install]
WantedBy=multi-user.target
